* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Card {
  border: 5px solid black;
  margin: 5px;
  padding: 10px;
  height: auto;
  width: auto;
  background-color: aquamarine;
}

.ItemImg {
  height: 350px;
  width: 350px;
}
.InfoCard {
  text-size-adjust: auto;
  background-color: rgb(164, 207, 248);
  margin: 5px;
}
